{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "importOrderTypeScriptVersion": "5.9.2",
  "importOrderCaseSensitive": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@prettier/plugin-oxc",
    "@ianvs/prettier-plugin-sort-imports"
  ]
}